#from templates.util import RenderNameAddress

<table class="stat distribution" id="$id">  
  <tr>
    <td class="chart">
      <img src="$chart.get_url()" 
           width="$chart.width" 
           height="$chart.height" 
           alt="">
    </td>
    <td>
      <ul class="legend">
      #for $color, $name, $address in $legend
        <li class="$class">
          <div style="background-color: #$color" class="swatch"></div>
          $RenderNameAddress($name, $address)
        </li>
      #end for
      </ul>
    </td>
  </tr>  
</table>