<div class="stat-tabs">
  <ul class="stat-tabs-titles">
    #for $tab in $tabs
      <li onclick="toggleTabStat('$tab.id')" id="$tab.id-title" class="stat-tab-title unselectable">$tab.title</li>
    #end for
  </ul>
  
  #for $tab in $tabs
    <div id="$tab.id-pane" class="stat-tab-pane hidden">
      #for $stat in $tab.stats
        $stat.GetHtml
      #end for
    </div>
  #end for
</div>

<script type="text/javascript">
  toggleTabStat('$tabs[0].id');
</script>