#from templates.util import RenderNameAddress

#filter WebSafe
<span id="${message_info.headers["message-id"], also='"'}" class="message-id">
#set $subject = $message_info.GetHeader("subject")
<b title="${subject, also='"'}">
  #if len($subject) > 50:
    $subject[0:50]...
  #else
    $subject
  #end if
</b> 
$connector 
#set $name, $address = $message_info.GetSender()
#end filter

$RenderNameAddress($name, $address, tag_name="i")

</span>